<div class="jumbotron">
    <h1 class="title">高级猎头网</h1>
    <p class="slogan">帮您实现您的梦想
      <br>
      助您通向财务自由
    </br>


    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上行动</a></p>
  </div>





  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/01/20/58820eb739a50.png" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h5>杭州梦想小镇</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/01/20/5882104f81ae0.png" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h5>xulingxian001@gmail.com</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/01/20/5882106e892eb.png" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h5>0571-12344321</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
